<!DOCTYPE html>
<html>

<head>

     <link rel="stylesheet" href="/static/main.css">
    <!--<style>-->
        <!--body {-->
    <!--background-color:#666666;-->
    <!--margin:0;-->
<!--}-->

        <!--#outside{-->
        <!--background-color:#208889;-->
        <!--width:300px;-->
        <!--height:450px;-->


        <!--}-->
        <!--#outside FORM span {-->
        <!--width :30%;-->
        <!--text-decoration: underline;-->
        <!--display:inline-block;-->
        <!--}-->
    <!--</style>-->
    <title>users-categories list </title>
</head>

<body>
<div id ="outside">
<h1>your fam account</h1>

<FORM name="Keypad" action="/category_list/{{id}}" method="post">
    {% csrf_token %}
    <select name="choice">
        <!--<select name="choice">-->

            {% for choice in category_list %}
            <!--views-key for v=category_list will loop-->
            <option value="{{choice.id}}">
                {{choice.category.name}}
                -
                {{choice.name}}


                <!--{{transaction.amount}}-->
                <!--or else you can add category also-->
            </option>


            {%endfor %}
        </select>
        <!--</select>-->
        <button type="save" value="Save">Save</li></button>
</FORM>

</div>

<!--it make list press-button so you can add page to it-->
</body>

</html>