<!DOCTYPE html>
<html>

    <head>
         <link rel="stylesheet" href="/static/main.css">
        <title> edit amount/ calculator</title>
    </head>

<body>

<!--<strong>FAM PROVIDES....EDIT AMOUNT</strong><br />-->
<Strong>CALCULATE YOUR TOTAL TRANSACTION</Strong>
<!-- This Script is from www.htmlfreecodes.com, Provided by: Mahmood Bina -->

<CENTER>

    <FORM name="Keypad" action="/fam_account/edit_amount/{{id}}" method="post">
        {% csrf_token %}
        <input name="amount" type="number" size=24 value="{{transaction.amount}}" width=100%>

        <input type="submit" value="save">
    </FORM>
</CENTER>
<font face="Verdana, Arial, Helvetica" size=2>
    <SCRIPT LANGUAGE="JavaScript">
<!-- Begin
/*var FKeyPad = document.Keypad;
var Accumulate = 0;
var FlagNewNum = false;
var PendingOp = "";
function NumPressed (Num) {
if (FlagNewNum) {
FKeyPad.amount.value  = Num;
FlagNewNum = false;
   }
else {
if (FKeyPad.amount.value == "0")
FKeyPad.amount.value = Num;
else
FKeyPad.amount.value += Num;
   }
}
function Operation (Op) {
var amount = FKeyPad.amount.value;
if (FlagNewNum && PendingOp != "=");
else
{
FlagNewNum = true;
if ( '+' == PendingOp )
Accumulate += parseFloat(amount);
else if ( '-' == PendingOp )
Accumulate -= parseFloat(amount);
else if ( '/' == PendingOp )
Accumulate /= parseFloat(amount);
else if ( '*' == PendingOp )
Accumulate *= parseFloat(amount);
else
Accumulate = parseFloat(amount);
FKeyPad.amount.value = Accumulate;
PendingOp = Op;
   }
}
function Decimal () {
var curamount = FKeyPad.amount.value;
if (FlagNewNum) {
curamount = "0.";
FlagNewNum = false;
   }
else
{
if (curamount.indexOf(".") == -1)
curamount += ".";
   }
FKeyPad.amount.value = curamount;
}
function ClearEntry () {
FKeyPad.amount.value = "0";
FlagNewNum = true;
}
function Clear () {
Accumulate = 0;
PendingOp = "";
ClearEntry();
}
function Neg () {
FKeyPad.amount.value = parseFloat(FKeyPad.amount.value) * -1;
}
function Percent () {
FKeyPad.amount.value = (parseFloat(FKeyPad.amount.value) / 100) * parseFloat(Accumulate);
}*/
// End -->

    </SCRIPT>
        <!--<a href="http://http://127.0.0.1:8000/category_list/1">save</a>-->
    <!--<a target="_blank" href="http://www.htmlfreecodes.com" style="font-size: 8pt; text-decoration: none">Html Codes</a>-->

</body>

</html>