<!DOCTYPE html>
<html>
<div id="outside">
<head>
    <link rel="stylesheet" href="/static/main.css">
    <title> WELCOME TO FAM </title>
</head>

<header>

    <h1>WELCOME TO FAM APP</h1>
    <img src="/static/shiva_logo.jpg"width="175" height="135" />

    <h3>Financial Accounting Manager</h3>


</header>
<main>

    <form name="input" action="demo_form_action.asp" method="get">
        Username: <input type="text" name="user">
        <input type="submit" value="Submit">
    </form>

</main>
</div>

</html>