<!DOCTYPE html>
<html>

    <head>
         <link rel="stylesheet" href="/static/main.css">
        <title>users-transactions </title>
    </head>

    <body>
        <h1>your fam account</h1>
        <ul>
            {% for transaction in transactions %}
            <li>
                {{transaction.note}}
                 <br>
                {{transaction.amount}}
                <!--or else you can add category also-->
            </li>
            {%endfor %}
        </ul>
        FAM  <strong> your transactions ... </strong><br />
        <a href="/fam_account/list/">List</a><br /> # it make list press-button so you can add page to it
    </body>

</html>