<!DOCTYPE html>
<html>

<head>
    <style>
        body{
        background-color:grey;
        }
        #outside{
        background-color:white;
        width:240px;
        height:320px;


        }
        #outside div span {
        width :30%;
        text-decoration: underline;
        display:inline-block;
        }
    </style>
    <title>Total Transaction </title>
</head>

<body>
<div id="outside">
    <!--div- creating box-->


    <h1>Total transaction</h1>

    <div>
<span>
    Account:
</span>
    <span>
        {{Account}}
    </span>
    <span>
        <!--<a href="/fam_account/category_list/{{id}}">-->
            E
            <!--user gonna see letter E-->
        </a>
    </span>
    </div>

    <div>
        <a href="/fam_account/edit_amount/{{id}}">
<span>
    Amount:
</span>
    <span>
        {{ amount }}
    </span>
    <span>

            E
            <!--user gonna see letter E-->

    </span>
        </a>
    </div>

    <div>
        <a href="/category_list/{{id}}">
<span>
    Category:
</span>
    <span>
        {{category}}
    </span>
    <span>

            E
            <!--user gonna see letter E-->

    </span>
        </a>

    </div>


    <div>
        <a href="/total_transaction/vendor/{{id}}">

<span>
    Vendor:
</span>
    <span>
        {{vendor}}
    </span>
    <span>
        E
 <!--user gonna see letter E-->

    </span>
        </a>

    </div>

    <div>

<span>
    Payment:
</span>
    <span>
        {{payment}}
    </span>
    <span>
        <!--<a href="/fam_account/category_list/{{id}}">-->
            E
            <!--user gonna see letter E-->
        </a>
    </span>
    </div>
    <div>
<span>
    Ref/check no:
</span>
    <span>
        {{total_transaction}}
    </span>
    <span>
        <!--<a href="/fam_account/category_list/{{id}}">-->
            E
            <!--user gonna see letter E-->
        </a>
    </span>
    </div>

</div>
<div>
<span>
    Description:
</span>
    <span>
        {{description}}
    </span>
    <span>
        <!--<a href="/fam_account/category_list/{{id}}">-->
            E
            <!--user gonna see letter E-->
        </a>
    </span>
</div>


<br>

</div>

</body>

</html>