<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/main.css">
    <style>
        #outside body {
        display: inline-block;
        background-color: white;
        width: 100px;
        text-align: center;
        margin: 12px;
        }
    </style>
    <title>un_categoriest transaction list </title>
</head>

<body>
<h1>your fam account</h1>
<!--heading makes sentence or letts make big and bold where as <strong> represent onlt bold</strong>-->
Please complete you transaction
<ul>
    <!--unordered list,perants for <li>=-->


    {% for transaction in uncategory_list %}
    <li>
        <!--list item of any kind, created bullet or styles-->
        <a href="/list/total_transaction/{{transaction.id}}">
            <!--here abouve line make to click user on amount and vendor .. her direct to total_transaction list-->

                {{transaction.amount}}
                {{transaction.vendor}}

            </a>
            <em>
                {{transaction.date}}
            </em>





        <!--line break-->

        <!--or else you can add category also-->
    </li>
    {% endfor %}
</ul>

</body>

</html>